name: Build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - release/**

jobs:
  build:
    name: Build using xcodebuild
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - run: mise run build
